<launch>

<!--node pkg="joy" name="joy_node" type="joy_node"/-->

   <!-- ssh上でROS MASTERやIPを共有 -->
   <machine name="actt" address="RasPiのIPアドレス" env-loader="/home/pi/catkin_auto/devel/env.sh" user="pi" password="RasPiのpassword"/>

   <!-- ACTTのnodeを起動 -->
   <node machine="actt" name="actt_joy" pkg="mbed" type="actt_joy.py"/>
   <node machine="actt" name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
      <param name="serial_port"         type="string" value="/dev/rplidar"/>
      <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 --> <!-- 115200 -->
      <param name="frame_id"            type="string" value="laser"/>
      <param name="inverted"            type="bool"   value="false"/>
      <param name="angle_compensate"    type="bool"   value="true"/>
   </node>

   <!-- ACTTからカメラ画像をpublish -->
   <node machine="actt" name="frame_pub" pkg="mbed" type="frame_pub"/>

   <!-- カメラ画像を歪み補正 -->
   <!--node machine="actt" name="image_proc" pkg="image_proc" type="image_proc" output="screen"/-->

   <!-- 画像を圧縮しPCにpublishする -->
   <node name="image_republish" pkg="image_transport" type="republish" args="compressed raw">
      <remap from="in" to="/image_raw" />
      <remap from="out" to="/image_exp" />
   </node>
                                       
   <!-- ACTTモデルを起動 -->
   <include file="$(find actt_pc)/launch/actt_model.launch"/>

   <!-- LiDARデータからオドメトリ生成 -->
   <include file="$(find actt_pc)/launch/odom_laser_nav.launch"/>

   <!-- メインプログラムの実行 -->
   <node pkg="actt_pc" name="actt_pc" type="actt_auto" output="screen">
      <rosparam command="load" file="$(find actt_pc)/params.yaml"/>
   </node>
   
   <!-- ACTTの動作type切り替え -->
   <node pkg="actt_pc" name="actt_type_changer" type="actt_type_changer" output="screen" />

   <!-- 白線検知 -->
   <node pkg="actt_pc" name="actt_white_line_detection" type="actt_white_line_detection" />

   <!-- AMCL(自己位置推定) -->
   <include file="$(find actt_pc)/launch/localisation.launch"/>

   <!-- マップフォルダから作成されたマップを起動 -->
   <arg name="map" default="$(find actt_pc)/maps/mymap.yaml"/>
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

   <!-- mobe_base(移動パスプラン) -->
   <include file="$(find actt_pc)/launch/teb_move_base.launch"/>

   <!-- TF -->
   <node pkg="tf" type="static_transform_publisher" name="laser_link_2_base_link" args="-0.252 0 0 0 0 0 /laser /base_link 100"/>

   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find actt_pc)/rviz/nav_rviz.rviz"/>
</launch>
